@import "./index.css";

.figure {
    @apply 
        flex flex-col justify-center
        max-w-100 
        my-5
}


/* TODO: try to figure out why figure doesn't work instead of img (hint: rewrite this whole stuff) */

.zoom-container {
  display: flex;
  justify-content: center;
  cursor: zoom-in;
  background: var(--white);
}

.zoom-toggle {
  display: none;
}

.zoom-label {
  display: block;
  transition: transform 0.3s ease-in-out;
}

.zoom-label figure {
  transition: transform 0.3s ease-in-out;
  cursor: zoom-in;
}

.zoom-toggle:checked + .zoom-label figure {
  transform: scale(1.5);
  max-width: 60vw;
  max-height: 60vh;
  cursor: zoom-out;
  z-index: 1000;
  background: var(--white);
  position: sticky;
}

.zoom-toggle:checked + .zoom-label figcaption {
  font-size: 8pt;
}

.zoom-toggle:checked + .zoom-label::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

