---
import BasePage from "../components/BasePage.astro";
import ListOfLabeledLogos from "../components/ListOfLabeledLogos.astro";
---

<BasePage title="Rólam">
  <p>Rólam</p>
  <ListOfLabeledLogos source="../pages/about/main-technologies.md" />
</BasePage>
