---
import "../../styles/index.css";

type Props = {
  class?: string;
  id: string;
  options: { varName: string; name: string }[];
};

const { class: className, options, id } = Astro.props;

//TODO: add multiple listeners for each option
---

<select
  id={id}
  class={`hover:text-(--light-gray) cursor-pointer flex ${className}`}
>
  {
    options?.map((option: any) => (
      <option value={option.varName}>{option.name}</option>
    ))
  }
</select>
