---
import NavElement from "./NavElement.astro";
import "../../styles/index.css";
import ContactIcon from "./ContactIcon.astro";
import DropDownMenu from "./DropDownMenu.astro";
import MenuIcon from "../../icons/menu.svg";
import CloseIcon from "../../icons/close.svg";
import "../../styles/search-bar.css";

type Props = {
  class?: string;
  selectedPage: "Rólam" | "Projektek" | "Blog";
};

const { class: className, selectedPage } = Astro.props;
---

<nav
  class=`text-[13pt] sm:text-[15pt] py-4 flex flex-col sm:flex-row items-center sm:items-stretch ${className}`
>
  <div
    class="is-in-mobile-menu flex items-center max-sm:mt-5 max-sm:hidden max-sm:flex-col max-sm:gap-5 min-sm:ml-[10%] min-md:justify-stretch"
  >
    <NavElement
      name="Rólam"
      href="/about"
      isSelected={selectedPage === "Rólam"}
      class="mx-6.5"
    />
    <NavElement
      name="Projektek"
      href="/projects"
      isSelected={selectedPage === "Projektek"}
      class="mx-6.5"
    />
    <NavElement
      name="Blog"
      href="/blog"
      isSelected={selectedPage === "Blog"}
      class="mx-6.5"
    />
  </div>
  <div class="mx-5 flex items-center justify-center min-md:w-[60%]"></div>
  <div class="flex max-sm:order-first max-sm:w-full max-sm:justify-between">
    <button
      type="button"
      class="hidden cursor-pointer max-sm:ml-[5%] max-sm:block"
    >
      <MenuIcon id="open-menu-icon" class="size-8" />
      <CloseIcon id="close-menu-icon" class="hidden size-8" />
    </button>
    <div class="flex justify-stretch max-sm:mr-[5%]">
      <ContactIcon name="github-logo" url="https://github.com/gabor-hosu" />
      <ContactIcon name="gmail-logo" url="mailto:gabor.hosu121@gmail.com" />
    </div>
  </div>
  <DropDownMenu
    class="is-in-mobile-menu max-sm:mt-8 max-sm:hidden min-sm:mr-[10%] min-sm:ml-[6%]"
    id="language-selector"
    options={[
      { varName: "hungarian", name: "Magyar" },
      { varName: "english", name: "English" },
    ]}
  />
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const button = document.querySelectorAll("button")[0];

    button.addEventListener("click", () => {
      const openMenuIcon = document.getElementById("open-menu-icon");
      const closeMenuIcon = document.getElementById("close-menu-icon");
      const components = document.getElementsByClassName("is-in-mobile-menu");

      for (const comp of components) {
        comp.classList.toggle("max-sm:hidden");
      }

      openMenuIcon?.classList.toggle("hidden");
      closeMenuIcon?.classList.toggle("hidden");
    });
  });
</script>
