---
import { Icon } from "astro-icon/components";
---

<nav>
  <div>Rólam</div>
  <div>Projektek</div>
  <div>Blog</div>
  <Icon name="github-logo" />
  <Icon name="gmail-logo" />
  <div>
    <div>Nyelv</div>
    <Icon name="drop-down" />
  </div>
</nav>
