---
import PreviewElement from "./PreviewElement.astro";
import { getCollection } from "astro:content";

type CollectionName = keyof import("astro:content").DataEntryMap;

type Props = {
  collectionName: CollectionName;
  isShortDateFormat?: boolean;
};

const { collectionName, isShortDateFormat = true } = Astro.props;

const collection = await getCollection(collectionName);

if (!collection) {
  throw new Error(`${collectionName} collection not found`);
}
---

<div class="flex flex-col gap-15">
  {
    collection.map((previewEntry) => (
      <PreviewElement
        {...previewEntry.data}
        isShortDateFormat={isShortDateFormat}
        collectionName={collectionName}
        slug={previewEntry.slug}
      />
    ))
  }
</div>
