---
import NavBar from "../components/navbar/NavBar.astro";
import "../styles/rehype-prism.css";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/prismjs/themes/prism.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lora"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="mt-35 flex items-center justify-center">
    {/*@ts-ignore*/}
    <NavBar
      selectedPage={title}
      class="fixed top-0 right-0 left-0 z-9999 bg-(--white)"
    />
    <div class="mb-10 w-[90vw] sm:w-135 md:w-150 lg:w-200">
      <slot />
    </div>
  </body>
</html>``
